<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scinan.iot.s6000.dao.NmgRepairRecordMapper" >
	<sql id="sql_columns">
		id,user_id,contacts,contact_phone,area_id,area_name,address,device_id,company_id,app_key,status,create_time
	</sql>
	<sql id="sql_where">
	    <if test="conds!=null">
	        <trim prefix="WHERE" prefixOverrides="AND|OR">
	            <foreach collection="conds.conds" index="index" item="cond">
	                ${cond.linkType}
	                <if test="cond.condType == 'EQUAL'">${cond.s_param} = #{cond.value}</if>
	                <if test="cond.condType == 'GREATEQUAL'">${cond.s_param} &gt;= #{cond.value}</if>
	                <if test="cond.condType == 'GREATTHAN'">${cond.s_param} &gt; #{cond.value}</if>
	                <if test="cond.condType == 'LESSEQUAL'">${cond.s_param} &lt;= #{cond.value}</if>
	                <if test="cond.condType == 'LESSTHAN'">${cond.s_param} &lt; #{cond.value}</if>
	                <if test="cond.condType == 'BETWEEN'">${cond.s_param} BETWEEN #{cond.startValue} AND #{cond.endValue}</if>
	                <if test="cond.condType == 'ISNULL'">${cond.s_param} IS NULL</if>
	                <if test="cond.condType == 'NOTNULL'">${cond.s_param} IS NOT NULL</if>
	                <if test="cond.condType == 'LIKE'">${cond.s_param} LIKE #{cond.value}</if>
	                <if test="cond.condType == 'IN'">${cond.s_param} IN 
	                    <foreach item="item" index="index" collection="cond.value" open="(" separator="," close=")">
	                        #{item}
	                    </foreach>                                       
	                </if>
	            </foreach>
	        </trim>
	    </if>
	</sql>
    <select id="fetchById" resultType="com.scinan.iot.s6000.dao.domain.NmgRepairRecord">
	   SELECT <include refid="sql_columns"/> FROM t_nmg_repair_record where id = #{id}
	</select>
	<select id="fetchByPage" parameterType="java.util.Map" resultType="com.scinan.iot.s6000.dao.domain.NmgRepairRecord">
     SELECT id,user_id,contacts,contact_phone,area_id,area_name,address,device_id,company_id,app_key,status,create_time,update_time FROM t_nmg_repair_record t where (1=1) 
	        <if test="device_id != null and device_id != ''">
	          and t.device_id like '%${device_id}%'
	        </if>
	        <if test="user_path != null">
				AND t.device_id in (select device_id from SNDB_Distribution.t_device_belong g where g.company_id=#{company_id} and  g.user_path like '${user_path}%')
			</if>
	        <if test="status != null">
				AND t.status = #{status}
			</if>
			ORDER BY t.create_time DESC
			limit #{offset},#{limit}       
    </select>
    
	 <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(1)  FROM t_nmg_repair_record t where (1=1) 
        <if test="device_id != null and device_id != ''">
	          and t.device_id like '%${device_id}%'
        </if>
        <if test="user_path != null">
				AND t.device_id in (select device_id from SNDB_Distribution.t_device_belong g where g.company_id=#{company_id} and  g.user_path like '${user_path}%')
		</if>
        <if test="status != null">
			AND t.status = #{status}
		</if>
    </select>  
    
    <update id="update" parameterType="com.scinan.iot.s6000.dao.domain.NmgRepairRecord">
		update t_nmg_repair_record
	    <set> 
	      <if test="status != null and status != ''">
	        status = #{status},
	      </if>
	      <if test="update_time != null and update_time != ''">
	        update_time = #{update_time},
	      </if>
	    </set>
	    where id = #{id}
	 </update>
	 <select id="fetchByExportPage" parameterType="java.util.Map" resultType="com.scinan.iot.s6000.dao.domain.NmgRepairRecord">
     SELECT id,user_id,contacts,contact_phone,area_id,area_name,address,device_id,company_id,app_key,status,create_time,update_time FROM t_nmg_repair_record t where (1=1) 
	        <if test="device_id != null and device_id != ''">
	          and t.device_id like '%${device_id}%'
	        </if>
	        <if test="user_path != null">
				AND t.device_id in (select device_id from SNDB_Distribution.t_device_belong g where g.company_id=#{company_id} and  g.user_path like '${user_path}%')
			</if>
	        <if test="status != null">
				AND t.status = #{status}
			</if>
			ORDER BY t.create_time DESC
    </select>
</mapper>