<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scinan.iot.s8000temp.dao.DeviceHistoryLogMapper" >
	<sql id="sql_columns">
		id, device_id, sensor_id, type, msg_type, opt_type, content, create_time
	</sql>
  <sql id="sql_where">
        <if test="conds!=null">
            <trim prefix="WHERE" prefixOverrides="AND|OR">
                <foreach collection="conds.conds" index="index" item="cond">
                    ${cond.linkType}
                    <if test="cond.condType == 'EQUAL'">${cond.s_param} = #{cond.value}</if>
                    <if test="cond.condType == 'GREATEQUAL'">${cond.s_param} &gt;= #{cond.value}</if>
                    <if test="cond.condType == 'GREATTHAN'">${cond.s_param} &gt; #{cond.value}</if>
                    <if test="cond.condType == 'LESSEQUAL'">${cond.s_param} &lt;= #{cond.value}</if>
                    <if test="cond.condType == 'LESSTHAN'">${cond.s_param} &lt; #{cond.value}</if>
                    <if test="cond.condType == 'BETWEEN'">${cond.s_param} BETWEEN #{cond.startValue} AND #{cond.endValue}</if>
                    <if test="cond.condType == 'ISNULL'">${cond.s_param} IS NULL</if>
                    <if test="cond.condType == 'NOTNULL'">${cond.s_param} IS NOT NULL</if>
                    <if test="cond.condType == 'LIKE'">${cond.s_param} LIKE #{cond.value}</if>
                    <if test="cond.condType == 'IN'">${cond.s_param} IN 
                        <foreach item="item" index="index" collection="cond.value" open="(" separator="," close=")">
                            #{item}
                        </foreach>                                       
                    </if>
                </foreach>
            </trim>
        </if>
    </sql>
    <select id="fetchByPage" parameterType="java.util.Map" resultType="com.scinan.iot.s8000temp.dao.domain.DeviceHistoryLog">
     SELECT t.id, t.device_id, t.sensor_id, t.type, t.msg_type, t.opt_type, t.content, t.create_time,b.user_path
			FROM device_history_log t ,SNDB_Distribution.t_device_belong b where t.device_id=b.device_id and t.sensor_id='EE'  and t.content>0
			<if test="device_id != null">
			   and t.device_id like '%${device_id}' 
		    </if>
		    <if test="company_id != null">
			   and b.company_id = #{company_id} 
		    </if>
		    <if test="start_time != null">
			   and DATE_FORMAT(t.create_time,'%Y-%m-%d') between #{start_time} and #{end_time}
		    </if>
		    <if test="user_path != null">
			   and b.user_path like '${user_path}%'
		    </if>
			ORDER BY t.id DESC
			limit #{offset},#{limit}  
    </select>
    
    <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT count(1)
			FROM device_history_log t ,SNDB_Distribution.t_device_belong b where t.device_id=b.device_id and t.sensor_id='EE'  and t.content>0
			<if test="device_id != null">
			   and t.device_id like '%${device_id}' 
		    </if>
		    <if test="company_id != null">
			   and b.company_id = #{company_id} 
		    </if>
		    <if test="start_time != null">
			   and DATE_FORMAT(t.create_time,'%Y-%m-%d') between #{start_time} and #{end_time}
		    </if>
		    <if test="user_path != null">
			   and b.user_path like '${user_path}%'
		    </if>
	</select>
</mapper>